{% extends 'splinetools.html' %}

{% block title %} - About{% endblock title %}

{% block result %}
<h2>About</h2>
<div class="container-fluid container-splinetools container-prose">
	<p>Hello! These tools are maintained by Reticulated Spline; if you have any queries or suggestions, please either  leave a message on <a href="https://en.wikipedia.org/wiki/User_talk:Reticulated_Spline">my talk page</a> on en:wiki, or <a href="mailto:reticulatedspline.mw@gmail.com">email me</a>.</p>
	<p>All spam will be routed straight to /dev/null, and appropriate reports will made to providers - you have been warned!</p>
	<p><span class="aside">Legal bit: I take no responsibility for your use of these tools, nor can I make any guarantees as to the accuracy of their output.</span></p>
</div>
<h2>List of tools</h2>
<div class="container-fluid container-splinetools container-prose">
	<dl class="dl-horizontal">
	<dt><a href="{{ url_for('whois_search') }}">Whois</a></dt>
	<dd>a WHOIS service capable of returning records for hostnames and IP addresses, including forward and reverse DNS resolution. Useful for checking out shared IPs, or determining where a particular IP editor might be geographically.</dd>
	</dl>
</div>
{% endblock result %}

{% block script_additions %}
{% endblock script_additions %}